.loading-wrapper[data-v-92d727e8] {
    overflow: hidden
}

.loading-wrapper .loading-contenter[data-v-92d727e8] {
    position: relative;
    margin-left: auto;
    margin-right: auto
}

.loading-wrapper .loading-logo[data-v-92d727e8] {
    position: absolute;
    left: 15px;
    top: 15px
}

.loading-wrapper .loading-animation[data-v-92d727e8] {
    font-size: 10px;
    position: relative;
    text-indent: -9999em;
    border-top: 3px solid #fddf96;
    border-right: 3px solid #fddf96;
    border-bottom: 3px solid #fddf96;
    border-left: 3px solid #ffc330;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation: load-92d727e8 1.1s linear infinite;
    animation: load-92d727e8 1.1s linear infinite
}

.loading-wrapper.loading-default .loading-contenter[data-v-92d727e8] {
    width: 60px
}

.loading-wrapper.loading-default .loading-logo[data-v-92d727e8],
.loading-wrapper.loading-default .loading-logo img[data-v-92d727e8] {
    width: 30px;
    height: 30px
}

.loading-wrapper.loading-default .loading-animation[data-v-92d727e8],
.loading-wrapper.loading-default .loading-animation[data-v-92d727e8]:after {
    border-radius: 50%;
    width: 60px;
    height: 60px
}

.loading-wrapper.loading-small .loading-contenter[data-v-92d727e8] {
    width: 50px
}

.loading-wrapper.loading-small .loading-logo[data-v-92d727e8] {
    position: absolute;
    left: 15px;
    top: 13px
}

.loading-wrapper.loading-small .loading-logo[data-v-92d727e8],
.loading-wrapper.loading-small .loading-logo img[data-v-92d727e8] {
    width: 20px;
    height: 20px
}

.loading-wrapper.loading-small .loading-animation[data-v-92d727e8],
.loading-wrapper.loading-small .loading-animation[data-v-92d727e8]:after {
    border-radius: 50%;
    width: 50px;
    height: 50px
}

@-webkit-keyframes load-92d727e8 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }

    to {
        -webkit-transform: rotate(1turn);
        transform: rotate(1turn)
    }
}

@keyframes load-92d727e8 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }

    to {
        -webkit-transform: rotate(1turn);
        transform: rotate(1turn)
    }
}

.set-person-nick[data-v-5ec1cc8a] {
    z-index: 20000 !important;
    opacity: 1;
    position: absolute;
    top: 34px;
    left: 12px;
    background: #222;
    min-height: 24px;
    line-height: 14px;
    border-radius: 4px;
    font-size: 12px;
    font-weight: 500;
    color: #fff;
    padding: 5px 8px;
    cursor: pointer
}

.red-marked[data-v-5ec1cc8a] {
    color: #f5222d
}

[data-v-5ec1cc8a].userform-wrapper {
    position: relative
}

[data-v-5ec1cc8a].userform-wrapper .ant-form-item-required:before {
    display: none
}

[data-v-5ec1cc8a].userform-wrapper .field-label .ant-form-item-label>label {
    font-size: 12px;
    color: #a2aab8
}

[data-v-5ec1cc8a].userform-wrapper .field-label .ant-form-item-label {
    line-height: normal;
    margin-bottom: 10px
}

[data-v-5ec1cc8a].userform-wrapper .has-error .nick-name-tips {
    display: none
}

[data-v-5ec1cc8a].userform-wrapper .nick-name-tips {
    margin: 5px 0 0 10px;
    color: #a2aab8;
    font-size: 12px
}

[data-v-5ec1cc8a].userform-wrapper .dropdown-grade-select {
    width: 200px !important
}

.numeric-input .ant-tooltip-inner {
    min-width: 32px;
    min-height: 37px
}

.numeric-input .numeric-input-title {
    font-size: 14px
}

.add-student-page-template[data-v-01afabc7] {
    padding: 20px 0;
    height: calc(100vh - 72px);
    background: #f4f6fa
}

.add-student-page-template .my-account-main-container[data-v-01afabc7] {
    margin: 0 auto;
    width: 560px
}

.add-student-page-template .my-account-main-container .my-account-body-container[data-v-01afabc7] {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    background: #fff;
    border-radius: 10px
}

.add-student-page-template .my-account-main-container .my-account-body-container .userform-wrapper[data-v-01afabc7] {
    width: 379px
}

.add-student-page-template .my-account-main-container .my-account-footer-contaienr[data-v-01afabc7] {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1px 0;
    padding: 20px 30px 20px 20px;
    background: #fff;
    border-radius: 10px
}

.add-student-page-template .my-account-main-container .my-account-footer-contaienr .btn-back-to-courses[data-v-01afabc7] {
    font-size: 12px;
    font-weight: 500;
    line-height: 14px;
    color: #172b4d;
    cursor: pointer
}

.add-student-page-template .my-account-main-container .my-account-footer-contaienr .btn-back-to-courses i[data-v-01afabc7],
.add-student-page-template .my-account-main-container .my-account-footer-contaienr .btn-back-to-courses span[data-v-01afabc7] {
    vertical-align: middle
}

.add-student-page-template .my-account-main-container .my-account-footer-contaienr .btn-back-to-courses i[data-v-01afabc7] {
    margin-right: 8px
}

.add-student-page-template .my-account-main-container .my-account-footer-contaienr .tip-text[data-v-01afabc7] {
    width: 143px;
    padding: 9px 0;
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    color: #a2aab8;
    background: #f8f9fa;
    border-radius: 17px
}

.add-student-page-template .my-account-main-container .my-account-footer-contaienr .btn-add-student[data-v-01afabc7] {
    width: 143px;
    padding: 9px 0;
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    color: #fff;
    background: linear-gradient(45deg, #ffd518, #ffaa0a);
    border-radius: 17px;
    cursor: pointer
}

.add-student-page-template .my-account-main-container .my-account-footer-contaienr .btn-add-student span[data-v-01afabc7] {
    vertical-align: middle
}

.add-student-page-template .my-account-main-container .my-account-footer-contaienr .btn-add-student .icon-arrow-right[data-v-01afabc7] {
    display: inline-block;
    margin-left: 10px;
    width: 16px;
    height: 16px;
    background: no-repeat 50%/100% url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAMAAABEpIrGAAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAABaUExURUdwTP////////////////////////////////////////////////////+9EP+4Dv/NFP/EEf/imf/78//LQ//pnP/99P/RRv/ZRv/33v+1Df/cbv/hhP/VJr/Y/DoAAAANdFJOUwDjVonHyST4CZrrGCzpvYDQAAAA3UlEQVQ4y4WTWRKDIBBEEUQWRTRqNCTe/5oZNYUMaOg/qh8wKyFekiquhdBcUUlSVUoYL6GqyJYssHeEoVfq0iQq69NvCnOhovH3L30gfm/I0tyoPOJg5lZsz++M/zXaB85ly1ad57dzDhMKIggK8HExISShwXEYrY0IGv5wEBYRinCDiRaQgOBEm7+EJlGTNqK17eCjTIG5BQVA/MXcgx9+wWMfhILEaS4d9iHNsFBP8Lt+woVCpe5AU1Rq1Kw18rdmoXYv65S2Ozsw+ZHLDm1+7POLk1+9/PLer/8XVRwqyBMlF3gAAAAASUVORK5CYII=)
}