<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>MinimumOSVersion</key>
	<string>15.0</string>
	<key>DTXcodeBuildDistribution</key>
	<string>14C18</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSExceptionDomains</key>
		<dict>
			<key>paygateway.dev.thethinkacademy.com</key>
			<dict>
				<key>NSTemporaryExceptionAllowsInsecureHTTPLoads</key>
				<true/>
				<key>NSIncludesSubdomains</key>
				<true/>
			</dict>
		</dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
		<key>NSAllowsLocalNetworking</key>
		<true/>
		<key>NSAllowsArbitraryLoadsInWebContent</key>
		<true/>
	</dict>
	<key>NSMicrophoneUsageDescription</key>
	<string>We need to access to the microphone to record audio file</string>
	<key>DTXcodeBuild</key>
	<string>14C18</string>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>UISupportedDevices</key>
	<array>
		<string>iPhone10,1</string>
		<string>iPhone10,4</string>
		<string>iPhone12,8</string>
		<string>iPhone14,6</string>
		<string>iPhone9,1</string>
		<string>iPhone9,3</string>
	</array>
	<key>DTAppStoreToolsBuild</key>
	<string>15C5065a</string>
	<key>CFBundleName</key>
	<string>Think Academy Parent</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>iPhoneOS</string>
	</array>
	<key>NSCalendarsUsageDescription</key>
	<string>Access most functions for calendar viewing and editing.</string>
	<key>CFBundleDisplayName</key>
	<string>Think Parent</string>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>ITSDRMScheme</key>
	<string>v2</string>
	<key>DTPlatformBuild</key>
	<string>20C52</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>DTXcode</key>
	<string>1420</string>
	<key>DTSDKName</key>
	<string>iphoneos16.2</string>
	<key>CFBundleVersion</key>
	<string>12</string>
	<key>UIDeviceFamily</key>
	<array>
		<integer>1</integer>
	</array>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconName</key>
			<string>AppIcon</string>
			<key>CFBundleIconFiles</key>
			<array>
				<string>AppIcon60x60</string>
			</array>
		</dict>
	</dict>
	<key>DTPlatformName</key>
	<string>iphoneos</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>我们需要访问您的位置以提供相关服务。</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>我们需要访问您的位置以提供相关服务。</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>wxb364e54a9f0ba792</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>weixin</string>
		</dict>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>thinkacademyparent</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
	</array>
	<key>CFBundleIdentifier</key>
	<string>com.tal.hw.patriarch</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>获取相册权限,读取图片，设置头像等</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>获取相册权限,保存图片</string>
	<key>CFBundleExecutable</key>
	<string>Runner</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>BuildMachineOSBuild</key>
	<string>22E252</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>alipayhk</string>
		<string>weixin</string>
		<string>weixinULAPI</string>
		<string>sms</string>
		<string>tel</string>
	</array>
	<key>NSContactsUsageDescription</key>
	<string>Access contacts for event attendee editing.</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>UIUserInterfaceStyle</key>
	<string>Light</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>arm64</string>
	</array>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>我们需要访问您的位置以提供相关服务。</string>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>NSCameraUsageDescription</key>
	<string>Enable camera permissions to join video chat and change your profile photo.</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>DTSDKBuild</key>
	<string>20C52</string>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>DTPlatformVersion</key>
	<string>16.2</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.2</string>
</dict>
</plist>