<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>funcAudioPermission</key>
		<string>high</string>
		<key>funcName</key>
		<string>主讲-视频连麦</string>
	</dict>
	<dict>
		<key>funcAudioPermission</key>
		<string>high</string>
		<key>funcName</key>
		<string>辅导-辅导连麦</string>
	</dict>
	<dict>
		<key>funcAudioPermission</key>
		<string>high</string>
		<key>funcName</key>
		<string>主讲-主讲上台</string>
	</dict>
	<dict>
		<key>funcAudioPermission</key>
		<string>high</string>
		<key>funcName</key>
		<string>主讲-屏幕共享</string>
	</dict>
	<dict>
		<key>funcAudioPermission</key>
		<string>high</string>
		<key>funcName</key>
		<string>主讲-随机连麦</string>
	</dict>
	<dict>
		<key>funcAudioPermission</key>
		<string>high</string>
		<key>funcName</key>
		<string>主讲-随机点名</string>
	</dict>
	<dict>
		<key>funcAudioPermission</key>
		<string>high</string>
		<key>funcName</key>
		<string>主讲-多人上台</string>
	</dict>
	<dict>
		<key>funcAudioPermission</key>
		<string>low</string>
		<key>funcName</key>
		<string>主讲-家长旁听</string>
	</dict>
	<dict>
		<key>funcAudioPermission</key>
		<string>high</string>
		<key>funcName</key>
		<string>主讲-集体发言</string>
	</dict>
	<dict>
		<key>funcAudioPermission</key>
		<string>high</string>
		<key>funcName</key>
		<string>主讲-互听</string>
	</dict>
	<dict>
		<key>funcAudioPermission</key>
		<string>high</string>
		<key>funcName</key>
		<string>主讲-全员上台</string>
	</dict>
	<dict>
		<key>funcAudioPermission</key>
		<string>high</string>
		<key>funcName</key>
		<string>音频管控-强制开麦</string>
	</dict>
	<dict>
		<key>funcAudioPermission</key>
		<string>low</string>
		<key>funcName</key>
		<string>音频管控-新用户安装</string>
	</dict>
	<dict>
		<key>funcAudioPermission</key>
		<string>low</string>
		<key>funcName</key>
		<string>音频管控-是否允许开麦</string>
	</dict>
	<dict>
		<key>funcAudioPermission</key>
		<string>high</string>
		<key>funcName</key>
		<string>音频管控-教师端mute管控</string>
	</dict>
	<dict>
		<key>funcAudioPermission</key>
		<string>low</string>
		<key>funcName</key>
		<string>音频管控-本地mute管控</string>
	</dict>
	<dict>
		<key>funcAudioPermission</key>
		<string>low</string>
		<key>funcName</key>
		<string>音频管控-视图创建</string>
	</dict>
	<dict>
		<key>funcAudioPermission</key>
		<string>low</string>
		<key>funcName</key>
		<string>学生-视频回显</string>
	</dict>
	<dict>
		<key>funcAudioPermission</key>
		<string>low</string>
		<key>funcName</key>
		<string>学生-拍照上墙</string>
	</dict>
</array>
</plist>
