<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Enable location permission to help us recommend suitable courses for the education system of your country. </string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>thinkacademyclassroom</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>wx40f1268c6dcc7e97</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>weixin</string>
		</dict>
	</array>
	<key>DTXcodeBuildDistribution</key>
	<string>14C18</string>
	<key>MinimumOSVersion</key>
	<string>15.0</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>CFBundleIdentifier</key>
	<string>com.tal.hw.stu</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Enable microphone permission to participate in video chat for a better interactive classroom experience.</string>
	<key>DTXcodeBuild</key>
	<string>14C18</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Enable album permissions to save live class screenshots and change your profile photo.</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>Enable album permissions to save live class screenshots and change your profile photo.</string>
	<key>CFBundleExecutable</key>
	<string>Think Academy</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>BuildMachineOSBuild</key>
	<string>22E252</string>
	<key>CFBundleIcons~ipad</key>
	<dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconName</key>
			<string>AppIcon</string>
			<key>CFBundleIconFiles</key>
			<array>
				<string>AppIcon60x60</string>
				<string>AppIcon76x76</string>
			</array>
		</dict>
	</dict>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>alipayhk</string>
		<string>weixinULAPI</string>
		<string>weixin</string>
	</array>
	<key>NSContactsUsageDescription</key>
	<string>Allow this App to access your address book to find contacts</string>
	<key>UISupportedDevices</key>
	<array>
		<string>iPhone10,1</string>
		<string>iPhone10,4</string>
		<string>iPhone12,8</string>
		<string>iPhone14,6</string>
		<string>iPhone9,1</string>
		<string>iPhone9,3</string>
	</array>
	<key>LeanplumSwizzlingEnabled</key>
	<false/>
	<key>DTAppStoreToolsBuild</key>
	<string>15A240a</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>UIUserInterfaceStyle</key>
	<string>Light</string>
	<key>CFBundleName</key>
	<string>ThinkAcademy</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>iPhoneOS</string>
	</array>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>arm64</string>
	</array>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>Enable location permission to help us recommend suitable courses for the education system of your country. </string>
	<key>NSCalendarsUsageDescription</key>
	<string>Do you allow this App to access your calendar for class reminders</string>
	<key>CFBundleDisplayName</key>
	<string>Think Academy</string>
	<key>NSCameraUsageDescription</key>
	<string>Enable camera permissions to join video chat and change your profile photo.</string>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>ITSDRMScheme</key>
	<string>v2</string>
	<key>DTPlatformBuild</key>
	<string>20C52</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>UIAppFonts</key>
	<array>
		<string>SF-Pro-Rounded-Semibold.otf</string>
		<string>SF-Pro-Rounded-Medium.otf</string>
		<string>SF-Pro-Rounded-Bold.otf</string>
	</array>
	<key>DTSDKBuild</key>
	<string>20C52</string>
	<key>DTXcode</key>
	<string>1420</string>
	<key>DTSDKName</key>
	<string>iphoneos16.2</string>
	<key>CFBundleVersion</key>
	<string>20231013465</string>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIDeviceFamily</key>
	<array>
		<integer>1</integer>
		<integer>2</integer>
	</array>
	<key>DTPlatformVersion</key>
	<string>16.2</string>
	<key>CFBundleShortVersionString</key>
	<string>2.19.0</string>
	<key>UIRequiresFullScreen</key>
	<true/>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconName</key>
			<string>AppIcon</string>
			<key>CFBundleIconFiles</key>
			<array>
				<string>AppIcon60x60</string>
			</array>
		</dict>
	</dict>
	<key>DTPlatformName</key>
	<string>iphoneos</string>
</dict>
</plist>