<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>kBusinessDesc</key>
		<string>课堂氛围工具插件</string>
		<key>kPriorityLevel</key>
		<integer>0</integer>
		<key>kBusinessClassName</key>
		<string>LiveClassAmbianceToolBussiness</string>
		<key>kDeviceType</key>
		<integer>1</integer>
		<key>kLessonType</key>
		<integer>4</integer>
		<key>kUserType</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>kBusinessDesc</key>
		<string>舒尔特方格互动插件</string>
		<key>kPriorityLevel</key>
		<integer>0</integer>
		<key>kBusinessClassName</key>
		<string>LiveClassSchulteGameBusiness</string>
		<key>kDeviceType</key>
		<integer>3</integer>
		<key>kLessonType</key>
		<integer>7</integer>
		<key>kUserType</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>kBusinessDesc</key>
		<string>直播壳业务插件，包括导航栏、工具栏等控制操作能力</string>
		<key>kPriorityLevel</key>
		<integer>0</integer>
		<key>kBusinessClassName</key>
		<string>LiveClassControlBusiness</string>
		<key>kDeviceType</key>
		<integer>3</integer>
		<key>kLessonType</key>
		<integer>7</integer>
		<key>kUserType</key>
		<integer>3</integer>
	</dict>
	<dict>
		<key>kBusinessDesc</key>
		<string>直播流插件，负责主讲流相关业务</string>
		<key>kPriorityLevel</key>
		<integer>0</integer>
		<key>kBusinessClassName</key>
		<string>LiveClassStreamBusiness</string>
		<key>kDeviceType</key>
		<integer>3</integer>
		<key>kLessonType</key>
		<integer>7</integer>
		<key>kUserType</key>
		<integer>3</integer>
	</dict>
	<dict>
		<key>kBusinessDesc</key>
		<string>金币业务插件</string>
		<key>kPriorityLevel</key>
		<integer>0</integer>
		<key>kBusinessClassName</key>
		<string>LiveClassCoinBusiness</string>
		<key>kDeviceType</key>
		<integer>3</integer>
		<key>kLessonType</key>
		<integer>3</integer>
		<key>kUserType</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>kBusinessDesc</key>
		<string>截屏插件</string>
		<key>kPriorityLevel</key>
		<integer>0</integer>
		<key>kBusinessClassName</key>
		<string>LiveClassScreenShotBusiness</string>
		<key>kDeviceType</key>
		<integer>3</integer>
		<key>kLessonType</key>
		<integer>7</integer>
		<key>kUserType</key>
		<integer>3</integer>
	</dict>
	<dict>
		<key>kBusinessDesc</key>
		<string>倒计时、课件休息插件</string>
		<key>kPriorityLevel</key>
		<integer>0</integer>
		<key>kBusinessClassName</key>
		<string>LiveClassCountDownBusiness</string>
		<key>kDeviceType</key>
		<integer>3</integer>
		<key>kLessonType</key>
		<integer>7</integer>
		<key>kUserType</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>kBusinessDesc</key>
		<string>心跳插件</string>
		<key>kPriorityLevel</key>
		<integer>0</integer>
		<key>kBusinessClassName</key>
		<string>LiveClassHeartbeatBusiness</string>
		<key>kDeviceType</key>
		<integer>3</integer>
		<key>kLessonType</key>
		<integer>7</integer>
		<key>kUserType</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>kBusinessDesc</key>
		<string>涂鸦插件</string>
		<key>kPriorityLevel</key>
		<integer>0</integer>
		<key>kBusinessClassName</key>
		<string>LiveClassCanvasBusiness</string>
		<key>kDeviceType</key>
		<integer>3</integer>
		<key>kLessonType</key>
		<integer>7</integer>
		<key>kUserType</key>
		<integer>3</integer>
	</dict>
	<dict>
		<key>kBusinessDesc</key>
		<string>投票插件</string>
		<key>kPriorityLevel</key>
		<integer>0</integer>
		<key>kBusinessClassName</key>
		<string>LiveClassVoteBusiness</string>
		<key>kDeviceType</key>
		<integer>3</integer>
		<key>kLessonType</key>
		<integer>7</integer>
		<key>kUserType</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>kBusinessDesc</key>
		<string>课件插件</string>
		<key>kPriorityLevel</key>
		<integer>0</integer>
		<key>kBusinessClassName</key>
		<string>LiveClassCoursewareBusiness</string>
		<key>kDeviceType</key>
		<integer>3</integer>
		<key>kLessonType</key>
		<integer>7</integer>
		<key>kUserType</key>
		<integer>3</integer>
	</dict>
	<dict>
		<key>kBusinessDesc</key>
		<string>视频连麦插件</string>
		<key>kPriorityLevel</key>
		<integer>0</integer>
		<key>kBusinessClassName</key>
		<string>LiveClassVideoJoinBusiness</string>
		<key>kDeviceType</key>
		<integer>3</integer>
		<key>kLessonType</key>
		<integer>7</integer>
		<key>kUserType</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>kBusinessDesc</key>
		<string>随机连麦</string>
		<key>kPriorityLevel</key>
		<integer>0</integer>
		<key>kBusinessClassName</key>
		<string>LiveClassRandomVideoLinkBusiness</string>
		<key>kDeviceType</key>
		<integer>3</integer>
		<key>kLessonType</key>
		<integer>3</integer>
		<key>kUserType</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>kBusinessDesc</key>
		<string>辅导连麦</string>
		<key>kPriorityLevel</key>
		<integer>0</integer>
		<key>kBusinessClassName</key>
		<string>LiveClassTutorVideoJoinBusiness</string>
		<key>kDeviceType</key>
		<integer>3</integer>
		<key>kLessonType</key>
		<integer>3</integer>
		<key>kUserType</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>kBusinessDesc</key>
		<string>红包</string>
		<key>kPriorityLevel</key>
		<integer>0</integer>
		<key>kBusinessClassName</key>
		<string>LiveClassRedPackageBusiness</string>
		<key>kDeviceType</key>
		<integer>3</integer>
		<key>kLessonType</key>
		<integer>7</integer>
		<key>kUserType</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>kBusinessDesc</key>
		<string>课件互动题插件</string>
		<key>kPriorityLevel</key>
		<integer>0</integer>
		<key>kBusinessClassName</key>
		<string>LiveClassInteractBusiness</string>
		<key>kDeviceType</key>
		<integer>3</integer>
		<key>kLessonType</key>
		<integer>7</integer>
		<key>kUserType</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>kBusinessDesc</key>
		<string>送礼物插件</string>
		<key>kPriorityLevel</key>
		<integer>0</integer>
		<key>kBusinessClassName</key>
		<string>LiveClassSendGiftsBusiness</string>
		<key>kDeviceType</key>
		<integer>3</integer>
		<key>kLessonType</key>
		<integer>7</integer>
		<key>kUserType</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>kBusinessDesc</key>
		<string>音视频权限插件</string>
		<key>kPriorityLevel</key>
		<integer>0</integer>
		<key>kBusinessClassName</key>
		<string>LiveClassPermissionBusiness</string>
		<key>kDeviceType</key>
		<integer>3</integer>
		<key>kLessonType</key>
		<integer>7</integer>
		<key>kUserType</key>
		<integer>3</integer>
	</dict>
	<dict>
		<key>kBusinessDesc</key>
		<string>学员视频流回显插件</string>
		<key>kPriorityLevel</key>
		<integer>0</integer>
		<key>kBusinessClassName</key>
		<string>LiveClassEchoBusiness</string>
		<key>kDeviceType</key>
		<integer>3</integer>
		<key>kLessonType</key>
		<integer>3</integer>
		<key>kUserType</key>
		<integer>3</integer>
	</dict>
	<dict>
		<key>kBusinessDesc</key>
		<string>游戏互动插件</string>
		<key>kPriorityLevel</key>
		<integer>0</integer>
		<key>kBusinessClassName</key>
		<string>LiveClassGameInteractBusiness</string>
		<key>kDeviceType</key>
		<integer>3</integer>
		<key>kLessonType</key>
		<integer>7</integer>
		<key>kUserType</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>kBusinessDesc</key>
		<string>集体发言插件</string>
		<key>kPriorityLevel</key>
		<integer>0</integer>
		<key>kBusinessClassName</key>
		<string>LiveClassGroupSpeakBusiness</string>
		<key>kDeviceType</key>
		<integer>3</integer>
		<key>kLessonType</key>
		<integer>3</integer>
		<key>kUserType</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>kBusinessDesc</key>
		<string>问题反馈插件</string>
		<key>kPriorityLevel</key>
		<integer>0</integer>
		<key>kBusinessClassName</key>
		<string>LiveClassProblemFeedBusiness</string>
		<key>kDeviceType</key>
		<integer>3</integer>
		<key>kLessonType</key>
		<integer>7</integer>
		<key>kUserType</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>kBusinessDesc</key>
		<string>网络诊断插件</string>
		<key>kPriorityLevel</key>
		<integer>0</integer>
		<key>kBusinessClassName</key>
		<string>LiveClassNetworkDiagnosticBusiness</string>
		<key>kDeviceType</key>
		<integer>3</integer>
		<key>kLessonType</key>
		<integer>7</integer>
		<key>kUserType</key>
		<integer>3</integer>
	</dict>
	<dict>
		<key>kBusinessDesc</key>
		<string>拍照上墙插件</string>
		<key>kPriorityLevel</key>
		<integer>0</integer>
		<key>kBusinessClassName</key>
		<string>LiveClassPictureWallBusiness</string>
		<key>kDeviceType</key>
		<integer>3</integer>
		<key>kLessonType</key>
		<integer>7</integer>
		<key>kUserType</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>kBusinessDesc</key>
		<string>作业盒子插件</string>
		<key>kPriorityLevel</key>
		<integer>0</integer>
		<key>kBusinessClassName</key>
		<string>LiveClassAssignmentBoxBusiness</string>
		<key>kDeviceType</key>
		<integer>3</integer>
		<key>kLessonType</key>
		<integer>7</integer>
		<key>kUserType</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>kBusinessDesc</key>
		<string>toast提示插件，主要是irc以及网络情况提示</string>
		<key>kPriorityLevel</key>
		<integer>0</integer>
		<key>kBusinessClassName</key>
		<string>LiveClassToastBusiness</string>
		<key>kDeviceType</key>
		<integer>3</integer>
		<key>kLessonType</key>
		<integer>7</integer>
		<key>kUserType</key>
		<integer>3</integer>
	</dict>
	<dict>
		<key>kBusinessDesc</key>
		<string>课中日志上传插件</string>
		<key>kPriorityLevel</key>
		<integer>0</integer>
		<key>kBusinessClassName</key>
		<string>LiveClassLogUploadBusiness</string>
		<key>kDeviceType</key>
		<integer>3</integer>
		<key>kLessonType</key>
		<integer>7</integer>
		<key>kUserType</key>
		<integer>3</integer>
	</dict>
	<dict>
		<key>kBusinessDesc</key>
		<string>点赞插件</string>
		<key>kPriorityLevel</key>
		<integer>0</integer>
		<key>kBusinessClassName</key>
		<string>LiveClassGiveLikeBusiness</string>
		<key>kDeviceType</key>
		<integer>3</integer>
		<key>kLessonType</key>
		<integer>7</integer>
		<key>kUserType</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>kBusinessDesc</key>
		<string>课堂表扬插件</string>
		<key>kPriorityLevel</key>
		<integer>0</integer>
		<key>kBusinessClassName</key>
		<string>LiveClassMagicBoxBusiness</string>
		<key>kDeviceType</key>
		<integer>3</integer>
		<key>kLessonType</key>
		<integer>7</integer>
		<key>kUserType</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>kBusinessDesc</key>
		<string>填空题互动插件</string>
		<key>kPriorityLevel</key>
		<integer>0</integer>
		<key>kBusinessClassName</key>
		<string>LiveClassFillBlankBusiness</string>
		<key>kDeviceType</key>
		<integer>3</integer>
		<key>kLessonType</key>
		<integer>7</integer>
		<key>kUserType</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>kBusinessDesc</key>
		<string>回显开关插件</string>
		<key>kPriorityLevel</key>
		<integer>0</integer>
		<key>kBusinessClassName</key>
		<string>LiveClassEchoRightShowItemBusiness</string>
		<key>kDeviceType</key>
		<integer>3</integer>
		<key>kLessonType</key>
		<integer>3</integer>
		<key>kUserType</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>kBusinessDesc</key>
		<string>排行榜插件</string>
		<key>kPriorityLevel</key>
		<integer>0</integer>
		<key>kBusinessClassName</key>
		<string>LiveClassSmallClassRankListBusiness</string>
		<key>kDeviceType</key>
		<integer>3</integer>
		<key>kLessonType</key>
		<integer>7</integer>
		<key>kUserType</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>kBusinessDesc</key>
		<string>上台插件</string>
		<key>kPriorityLevel</key>
		<integer>0</integer>
		<key>kBusinessClassName</key>
		<string>LiveClassOnStageBusiness</string>
		<key>kDeviceType</key>
		<integer>3</integer>
		<key>kLessonType</key>
		<integer>4</integer>
		<key>kUserType</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>kBusinessDesc</key>
		<string>学员声音互听插件</string>
		<key>kPriorityLevel</key>
		<integer>0</integer>
		<key>kBusinessClassName</key>
		<string>LiveClassAudioEachOtherBusiness</string>
		<key>kDeviceType</key>
		<integer>3</integer>
		<key>kLessonType</key>
		<integer>4</integer>
		<key>kUserType</key>
		<integer>3</integer>
	</dict>
	<dict>
		<key>kBusinessDesc</key>
		<string>涂鸦画板插件</string>
		<key>kPriorityLevel</key>
		<integer>0</integer>
		<key>kBusinessClassName</key>
		<string>LiveClassGraffitiBoardBusiness</string>
		<key>kDeviceType</key>
		<integer>3</integer>
		<key>kLessonType</key>
		<integer>7</integer>
		<key>kUserType</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>kBusinessDesc</key>
		<string>举手插件</string>
		<key>kPriorityLevel</key>
		<integer>0</integer>
		<key>kBusinessClassName</key>
		<string>LiveClassRaiseHandBusiness</string>
		<key>kDeviceType</key>
		<integer>3</integer>
		<key>kLessonType</key>
		<integer>3</integer>
		<key>kUserType</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>kBusinessDesc</key>
		<string>伪小班回显</string>
		<key>kPriorityLevel</key>
		<integer>0</integer>
		<key>kBusinessClassName</key>
		<string>LiveClassPrimaryEchoBusiness</string>
		<key>kDeviceType</key>
		<integer>1</integer>
		<key>kLessonType</key>
		<integer>2</integer>
		<key>kUserType</key>
		<integer>3</integer>
	</dict>
	<dict>
		<key>kBusinessDesc</key>
		<string>功能区插件</string>
		<key>kPriorityLevel</key>
		<integer>0</integer>
		<key>kBusinessClassName</key>
		<string>LiveClassFuncZoneBusiness</string>
		<key>kDeviceType</key>
		<integer>3</integer>
		<key>kLessonType</key>
		<integer>4</integer>
		<key>kUserType</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>kBusinessDesc</key>
		<string>音视频管控插件</string>
		<key>kPriorityLevel</key>
		<integer>0</integer>
		<key>kBusinessClassName</key>
		<string>LiveClassMediaControlBusiness</string>
		<key>kDeviceType</key>
		<integer>3</integer>
		<key>kLessonType</key>
		<integer>4</integer>
		<key>kUserType</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>kBusinessDesc</key>
		<string>举手插件</string>
		<key>kPriorityLevel</key>
		<integer>0</integer>
		<key>kBusinessClassName</key>
		<string>LiveSmallClassRaiseHandBusiness</string>
		<key>kDeviceType</key>
		<integer>3</integer>
		<key>kLessonType</key>
		<integer>4</integer>
		<key>kUserType</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>kBusinessDesc</key>
		<string>表情插件</string>
		<key>kPriorityLevel</key>
		<integer>0</integer>
		<key>kBusinessClassName</key>
		<string>LiveClassEmojiBusiness</string>
		<key>kDeviceType</key>
		<integer>3</integer>
		<key>kLessonType</key>
		<integer>4</integer>
		<key>kUserType</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>kBusinessDesc</key>
		<string>学员回显</string>
		<key>kPriorityLevel</key>
		<integer>0</integer>
		<key>kBusinessClassName</key>
		<string>LiveClassStudentSeatBusiness</string>
		<key>kDeviceType</key>
		<integer>1</integer>
		<key>kLessonType</key>
		<integer>4</integer>
		<key>kUserType</key>
		<integer>3</integer>
	</dict>
	<dict>
		<key>kBusinessDesc</key>
		<string>功能区更多按钮插件</string>
		<key>kPriorityLevel</key>
		<integer>0</integer>
		<key>kBusinessClassName</key>
		<string>LiveClassMoreFuncBusiness</string>
		<key>kDeviceType</key>
		<integer>1</integer>
		<key>kLessonType</key>
		<integer>4</integer>
		<key>kUserType</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>kBusinessDesc</key>
		<string>功能区金币徽章插件</string>
		<key>kPriorityLevel</key>
		<integer>0</integer>
		<key>kBusinessClassName</key>
		<string>LiveClassMedalBusiness</string>
		<key>kDeviceType</key>
		<integer>2</integer>
		<key>kLessonType</key>
		<integer>4</integer>
		<key>kUserType</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>kBusinessDesc</key>
		<string>学员回显</string>
		<key>kPriorityLevel</key>
		<integer>0</integer>
		<key>kBusinessClassName</key>
		<string>LiveClassiPhoneEchoBusiness</string>
		<key>kDeviceType</key>
		<integer>2</integer>
		<key>kLessonType</key>
		<integer>4</integer>
		<key>kUserType</key>
		<integer>3</integer>
	</dict>
	<dict>
		<key>kBusinessDesc</key>
		<string>旁听学员功能区占位遮罩</string>
		<key>kPriorityLevel</key>
		<integer>0</integer>
		<key>kBusinessClassName</key>
		<string>LiveClassVisitorBusiness</string>
		<key>kDeviceType</key>
		<integer>2</integer>
		<key>kLessonType</key>
		<integer>4</integer>
		<key>kUserType</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>kBusinessDesc</key>
		<string>全员上台插件</string>
		<key>kPriorityLevel</key>
		<integer>0</integer>
		<key>kBusinessClassName</key>
		<string>LiveClassAllOnStageBusiness</string>
		<key>kDeviceType</key>
		<integer>3</integer>
		<key>kLessonType</key>
		<integer>4</integer>
		<key>kUserType</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>kBusinessDesc</key>
		<string>屏幕共享插件</string>
		<key>kPriorityLevel</key>
		<integer>0</integer>
		<key>kBusinessClassName</key>
		<string>LiveClassScreenShareBusiness</string>
		<key>kDeviceType</key>
		<integer>3</integer>
		<key>kLessonType</key>
		<integer>7</integer>
		<key>kUserType</key>
		<integer>3</integer>
	</dict>
	<dict>
		<key>kBusinessDesc</key>
		<string>课中考试报告插件</string>
		<key>kPriorityLevel</key>
		<integer>0</integer>
		<key>kBusinessClassName</key>
		<string>LiveClassExamReportBusiness</string>
		<key>kDeviceType</key>
		<integer>3</integer>
		<key>kLessonType</key>
		<integer>7</integer>
		<key>kUserType</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>kBusinessDesc</key>
		<string>新小班chatbox插件</string>
		<key>kPriorityLevel</key>
		<integer>0</integer>
		<key>kBusinessClassName</key>
		<string>LiveClassChatBoxBusiness</string>
		<key>kDeviceType</key>
		<integer>1</integer>
		<key>kLessonType</key>
		<integer>4</integer>
		<key>kUserType</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>kBusinessDesc</key>
		<string>家长旁听iphone插件</string>
		<key>kPriorityLevel</key>
		<integer>0</integer>
		<key>kBusinessClassName</key>
		<string>LiveClassParentsAttendBusiness</string>
		<key>kDeviceType</key>
		<integer>3</integer>
		<key>kLessonType</key>
		<integer>7</integer>
		<key>kUserType</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>kBusinessDesc</key>
		<string>课中考试插件</string>
		<key>kPriorityLevel</key>
		<integer>0</integer>
		<key>kBusinessClassName</key>
		<string>LiveClassExamBusiness</string>
		<key>kDeviceType</key>
		<integer>3</integer>
		<key>kLessonType</key>
		<integer>7</integer>
		<key>kUserType</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>kBusinessDesc</key>
		<string>临时课插件,支持学生临时进课后更新数据源</string>
		<key>kPriorityLevel</key>
		<integer>0</integer>
		<key>kBusinessClassName</key>
		<string>LiveClassTemporaryBusiness</string>
		<key>kDeviceType</key>
		<integer>3</integer>
		<key>kLessonType</key>
		<integer>7</integer>
		<key>kUserType</key>
		<integer>3</integer>
	</dict>
	<dict>
		<key>kBusinessDesc</key>
		<string>大班、伪小班聊天插件</string>
		<key>kPriorityLevel</key>
		<integer>0</integer>
		<key>kBusinessClassName</key>
		<string>LiveClassChatRoomBusiness</string>
		<key>kDeviceType</key>
		<integer>3</integer>
		<key>kLessonType</key>
		<integer>3</integer>
		<key>kUserType</key>
		<integer>3</integer>
	</dict>
	<dict>
		<key>kBusinessDesc</key>
		<string>小班随机点名(照片墙)</string>
		<key>kPriorityLevel</key>
		<integer>0</integer>
		<key>kBusinessClassName</key>
		<string>LiveClassLuckyDrawBusiness</string>
		<key>kDeviceType</key>
		<integer>3</integer>
		<key>kLessonType</key>
		<integer>4</integer>
		<key>kUserType</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>kBusinessDesc</key>
		<string>金币动效插件</string>
		<key>kPriorityLevel</key>
		<integer>0</integer>
		<key>kBusinessClassName</key>
		<string>LiveClassCoinsMoveAnimationBusiness</string>
		<key>kDeviceType</key>
		<integer>3</integer>
		<key>kLessonType</key>
		<integer>7</integer>
		<key>kUserType</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>kBusinessDesc</key>
		<string>新h5游戏插件</string>
		<key>kPriorityLevel</key>
		<integer>0</integer>
		<key>kBusinessClassName</key>
		<string>LiveClassWebGameBusiness</string>
		<key>kDeviceType</key>
		<integer>3</integer>
		<key>kLessonType</key>
		<integer>7</integer>
		<key>kUserType</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>kBusinessDesc</key>
		<string>回放聊天插件</string>
		<key>kPriorityLevel</key>
		<integer>0</integer>
		<key>kBusinessClassName</key>
		<string>LiveBackChatBusiness</string>
		<key>kDeviceType</key>
		<integer>3</integer>
		<key>kLessonType</key>
		<integer>7</integer>
		<key>kUserType</key>
		<integer>3</integer>
	</dict>
	<dict>
		<key>kBusinessDesc</key>
		<string>抢答插件</string>
		<key>kPriorityLevel</key>
		<integer>0</integer>
		<key>kBusinessClassName</key>
		<string>LiveRushAnswerBusiness</string>
		<key>kDeviceType</key>
		<integer>3</integer>
		<key>kLessonType</key>
		<integer>4</integer>
		<key>kUserType</key>
		<integer>3</integer>
	</dict>
	<dict>
		<key>kBusinessDesc</key>
		<string>小班定向金币插件</string>
		<key>kPriorityLevel</key>
		<integer>0</integer>
		<key>kBusinessClassName</key>
		<string>LiveClassDirectedCoinsBusiness</string>
		<key>kDeviceType</key>
		<integer>3</integer>
		<key>kLessonType</key>
		<integer>7</integer>
		<key>kUserType</key>
		<integer>3</integer>
	</dict>
	<dict>
		<key>kBusinessDesc</key>
		<string>填一填</string>
		<key>kPriorityLevel</key>
		<integer>0</integer>
		<key>kBusinessClassName</key>
		<string>LiveClassMathWithSciencekeyboardBusiness</string>
		<key>kDeviceType</key>
		<integer>3</integer>
		<key>kLessonType</key>
		<integer>4</integer>
		<key>kUserType</key>
		<integer>3</integer>
	</dict>
	<dict>
		<key>kBusinessDesc</key>
		<string>回放切换线路插件</string>
		<key>kPriorityLevel</key>
		<integer>0</integer>
		<key>kBusinessClassName</key>
		<string>LiveClassSwitchBackLineBusiness</string>
		<key>kDeviceType</key>
		<integer>3</integer>
		<key>kLessonType</key>
		<integer>7</integer>
		<key>kUserType</key>
		<integer>3</integer>
	</dict>
	<dict>
		<key>kBusinessDesc</key>
		<string>课堂表扬榜插件</string>
		<key>kPriorityLevel</key>
		<integer>0</integer>
		<key>kBusinessClassName</key>
		<string>LiveClassPraiseListBusiness</string>
		<key>kDeviceType</key>
		<integer>3</integer>
		<key>kLessonType</key>
		<integer>7</integer>
		<key>kUserType</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>kBusinessDesc</key>
		<string>小班Pad发金币插件</string>
		<key>kPriorityLevel</key>
		<integer>0</integer>
		<key>kBusinessClassName</key>
		<string>LiveClassCoinsViewControllerBusiness</string>
		<key>kDeviceType</key>
		<integer>1</integer>
		<key>kLessonType</key>
		<integer>4</integer>
		<key>kUserType</key>
		<integer>1</integer>
	</dict>
</array>
</plist>
